<div class="form-group <%= "row" if horizontal %>">
  <label class="<%= "col-xl-3" if horizontal %> col-form-label"><%= label %></label>
  <div class="<%= "col-xl-9" if horizontal %>">
    <%= form.email_field field, options %>
  </div>
</div>
