<div class="form-group form-group-last <%= "row" if horizontal %>" data-controller="admin--tagify" data-whitelist="<%= whitelist %>" data-values="<%= form.object.send(field).join(", ") rescue "" %>">
  <label class="col-form-label <%= "col-xl-3" if horizontal %>"><%= label %></label>
  <div class="<%= "col-xl-9" if horizontal %>">
    <%= form.text_field field, options %>
  </div>
</div>
