<!--Begin:: App Aside Mobile Toggle-->
<button class="kt-app__aside-close" id="kt_profile_aside_close">
  <i class="la la-close"></i>
</button>
<!--End:: App Aside Mobile Toggle-->

<!--Begin:: App Aside-->
<div class="kt-grid__item kt-app__toggle kt-app__aside kt-app__aside--sm kt-app__aside--fit" id="kt_profile_aside">

  <!--Begin:: Portlet-->
  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <div class="kt-widget kt-widget--general-1">
        <div class="kt-media kt-media--brand kt-media--md kt-media--circle">
          <% if avatar.attached? %>
            <%= image_tag avatar %>
          <% else %>
            <%= image_tag asset_pack_path("media/images/admin/default.jpg") %>
          <% end %>
				</div>
        <div class="kt-widget__wrapper">
          <div class="kt-widget__label">
            <span class="kt-widget__title">
              <%= username %>
            </span>
            <span class="kt-widget__desc">
              <%= groups %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__separator"></div>
    <div class="kt-portlet__body">
      <ul class="kt-nav kt-nav--bolder kt-nav--fit-ver kt-nav--v4" role="tablist">
        <% items.each do |item| %>
          <%= render item %>
        <% end %>
      </ul>
    </div>
  </div>
  <!--End:: Portlet-->
</div>

<!--End:: App Aside-->
