<%= render Admin::Pages::AdminPageComponent.new do %>

  <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

    <%= render Admin::Asides::AsideComponent.new(
                items: [
                  Admin::Asides::Items::LinkComponent.new(
                    url: my_admin_profile_path,
                    icon: "flaticon2-calendar-3",
                    text: t('admin.component.app_asides.profile_aside.profile')),
                  Admin::Asides::Items::LinkComponent.new(
                    url: edit_admin_user_registration_path,
                    icon: "flaticon2-lock",
                    text: t('admin.component.app_asides.profile_aside.change_password')),
                  Admin::Asides::Items::LinkComponent.new(
                    url: settings_admin_profile_path,
                    icon: "flaticon2-gear",
                    text: t('admin.component.app_asides.profile_aside.settings'),
                    active: true)
                ]) %>

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"><%= t('admin.page.settings.title') %><small><%= t('admin.page.settings.subtitle') %></small></h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <%= button_to t('admin.page.settings.destroy_account'), registration_path(CurrentAdmin.user), data: { confirm: t('admin.page.settings.destroy_confirm') }, method: :delete, class: 'btn btn-label-danger btn-bold btn-sm kt-margin-t-5 kt-margin-b-5' %>
        </div>
      </div>
    </div>
    <!--End:: App Content-->

  </div>
<% end %>
