<p><%= t('admin.mail.reset_password.hello') %> <%= @resource.email %>!</p>

<p><%= t('admin.mail.reset_password.title') %></p>

<p><%= link_to t('admin.mail.reset_password.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('admin.mail.reset_password.warning') %></p>
<p><%= t('admin.mail.reset_password.warning_2') %></p>
